.proper {
    width: 100%;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 8px;
    padding-top: 8px;
    max-height: min((100vh - 96px) - 60px, 760px);
    overflow: auto;
    list-style: none;
    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
    &__container {
        width: 100%;
    }
}
