.sidebar {
    width: 100%;
    max-width: var(--default-sidebar-width);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    // margin-top: 60px;
    // position: fixed;
    max-width: 240px;
    max-height: 1000px;

    &__inner {
        padding: 20px 0 26px 8px;
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0 !important;
            display: none;
        }
    }

    &__nav {
        position: relative;
        padding-bottom: 8px;
        &::after {
            content: '';
            position: absolute;
            width: 90%;
            height: 1px;
            background-color: var(--light-color);
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
        }
        &__list {
        }
        &__item {
            padding: 8px;
            transition: var(--transition-time);
            &:hover {
                background-color: var(--sidebar-hover-backgrount-item);
                transform: translateX(-5px);
                .sidebar__nav__link {
                    color: var(--text-color);
                }
            }
        }
        .selected {
            span,
            svg {
                color: var(--primary-color);
                fill: var(--primary-color);
            }
        }
        .border {
            border: 2px solid var(--primary-color);
            border-radius: 10px;
        }
        &__link {
            display: flex;
            align-items: center;
            span {
                margin: 0 0 0 8px;
                font-weight: 700;
                font-size: 1.8rem;
                letter-spacing: -0.028px;
            }
        }
    }

    &__follow {
        &__container {
            padding: 16px 0;
        }
        &__title {
            h4 {
                padding: 0 8px;
                margin-bottom: 8px;
                font-weight: 600;
                font-size: 1.4rem;
                color: var(--sub-text-color);
            }
        }
        &__list {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
        &__item {
            padding: 8px;
            .item__wraper {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                &:hover {
                    h4 {
                        color: var(--text-color);
                    }
                    p {
                        color: varr(--sub-text-color) !important;
                    }
                }
            }
            .item__tick {
                color: rgb(32, 213, 236) !important;
                font-size: 1.4rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;
                margin-left: 8px;
                padding: 4px 0 0 0;
            }
            .item__img {
                border-radius: 50%;
                width: 32px;
                height: 32px;
                overflow: hidden;
                margin-right: 12px;
            }
            .item__info {
                h4 {
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    color: var(--text-color);
                    font-size: 1.6rem;
                }
                p {
                    margin: 0;
                    color: varr(--sub-text-color) !important;
                    font-size: 1q.2rem;
                }
            }
        }

        &__more {
            button {
                margin: 0;
                padding: 0 8px;
                font-size: 1.4rem;
                color: var(--primary-color);
                font-weight: 600;
                letter-spacing: 0.093px;
                border: none;
                background-color: transparent;
                margin-top: 8px;
            }
        }
    }

    &__tag {
        padding-top: 16px;
        padding-left: 8px;
        padding-right: 10px;
        &__button {
            padding-right: 8px;
            height: 50px;
            text-align: center;
            margin-bottom: 30px;
        }
        &__link {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            width: 100%;
            max-width: 208px;
            border-radius: 8px;
            overflow: hidden;
            &:hover {
                .button__text {
                    transform: scale(1.1);
                    color: var(--text-color);
                }
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
                max-width: 100%;
                height: 100%;
            }
            .button__text {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: var(--transition-time);
                h3 {
                    margin: 0;
                    font-weight: 600;
                    font-size: 1.6rem;
                }

                i {
                    font-size: 2.3rem;
                    margin: 2px 9px 0 0;
                }
            }
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            .tag__item {
                margin: 5px 6px 0 0;
                color: var(--dark-color);
                font-size: 1.2rem;
                letter-spacing: 0.161px;
                font-weight: 600;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
