.header {
    height: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: var(--white-color);

    &__wrapper {
        height: 100%;
    }

    &__inner {
        height: 100%;
        width: 100%;
        max-width: 1150px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        vertical-align: middle;
        &__image {
            width: 100%;
            max-width: 118px;
            height: auto;
            max-height: 42px;
        }
    }

    &__search {
        height: 100%;
        max-height: 46px;
        min-height: 21px;
        width: 100%;
        max-width: 500px;
        &__container {
            height: inherit;
            background-color: var(--grey-color);
            border-radius: 92px;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid var(--light-color);
            }
        }
        &__form {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            height: inherit;
            padding: 12px 16px;
            overflow: hidden;
        }
        &__result {
            width: 500px;
            margin-top: 8px;
            .result__list {
                width: 100%;
                height: auto;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .result__title {
                padding: 5px 12px;
                color: var(--dark-color);
            }
            .result__item {
                padding: 9px 16px;
                transition: var(--transition-time);
                &:hover {
                    background-color: rgba(22, 24, 35, 0.03);
                    cursor: pointer;
                }
                &__container {
                    display: flex;
                    align-items: center;
                }
                &__image {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 50%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &__info {
                    padding-left: 12px;
                }
                &__slug {
                    color: var(--text-color);
                    font-size: 1.6rem;
                    font-weight: 600;
                }
                &__name {
                    color: #16182380;
                    font-size: 1.4rem;
                }
            }
        }
        &__input {
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            flex: 1;
            &:focus {
                outline: none !important;
            }
        }
        &__icon {
            margin: 0 12px;
            cursor: pointer;
            i {
                font-size: 1.6rem;
                color: rgba(22, 24, 35, 0.34);
                width: 100%;
                height: 100%;
            }
        }
        &__button {
            padding: 0 0 0 12px;
            border: none;
            border-radius: 96px;
            position: relative;
            i {
                font-size: 1.8rem;
                color: var(--black-color);
            }
            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 28px;
                left: 0;
                top: 50%;
                background-color: var(--dark-color);
                transform: translateY(-50%);
            }
        }
    }

    &__function {
        display: flex;
        &__upload {
            display: flex;
            align-items: center;
            .upload__btn {
                display: flex;
                align-items: center;
                padding-right: 16px;
                padding-left: 16px;
                img {
                    min-width: 20px;
                    min-height: 20px;
                    margin: 0 8px 0 0;
                }
            }
        }

        &__login {
            margin-left: 16px;
        }

        &__button {
            .header__button {
                &__list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &--icon {
                    width: 48px;
                    height: 48px;
                    margin-left: 12px;
                    display: flex;
                    img {
                        margin: auto;
                    }
                }

                &__profile {
                    position: relative;
                    cursor: pointer;
                    &:hover {
                        .header__profile {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &__notification {
                    .notification {
                        position: absolute;
                        right: 5%;
                        top: 5%;
                        &__wrapper {
                            width: 20px;
                            height: 20px;
                            background-color: var(--primary-color);
                            border-radius: 50%;
                            display: flex;
                        }
                        &__text {
                            margin: auto;
                            font-size: 1.4rem;
                            font-weight: 600;
                            color: var(--white-color);
                        }
                    }
                }

                &__relative {
                    position: relative;
                    &:hover {
                        .header__button__description {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &__description {
                    position: absolute;
                    top: 100%;
                    right: 50%;
                    transform: translateX(50%);
                    opacity: 0;
                    visibility: hidden;
                    transition: var(--transition-time);
                    width: 100px;

                    &::before {
                        content: '';
                        border-top: 10px solid transparent;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid var(--description-background-color);
                        position: absolute;
                        bottom: 100%;
                        right: 50%;
                        transform: translateX(50%);
                    }

                    .header__description__wraps {
                        font-size: 1.6rem;
                        border-radius: 8px;
                        font-weight: 600;
                        letter-spacing: 0.3%;
                        color: var(--white-color);
                        padding: 8px;
                        text-align: center;
                        background-color: var(--description-background-color);
                    }
                }
            }
        }
    }

    &__profile {
        opacity: 0;
        visibility: hidden;
        // transform-origin: 100% 0;
        position: absolute;
        top: 112%;
        right: 0;
        width: 300px;
        box-shadow: var(--box-shadow);
        background-color: var(--white-color);
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.03px;
        transition: var(--transition-time);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            border-top: 10px solid transparent;
            border-bottom: 10px solid whitered;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            right: 5%;
            width: 20px;
            bottom: 100%;
        }
        &__list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                &:last-child {
                    border-top: 1px solid var(--light-color);
                }
            }
        }
        &__item {
            display: flex;
            padding: 10px 8px 10px 16px;
            transition: var(--transition-time);
            align-items: center;
            color: var(--text-color);
            text-decoration: none;
            p {
                margin: 0;
            }
            &:hover {
                background-color: var(--light-color);
                cursor: pointer;
                p,
                .item__icon {
                    color: var(--text-color);
                    margin-right: 8px;
                }
            }
            .item__icon {
                margin-right: 8px;
            }
        }
        &__mode {
            position: relative;
            .item__mode {
                position: absolute;
                top: 50%;
                right: 10%;
                width: 40px;
                height: 20px;
                transform: translateY(-50%);
                &__button {
                    background-color: var(--grey-color);
                    border-radius: 10px;
                    padding: 2px;
                    width: inherit;
                    height: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transition: var(--transition-time);
                }
                &__on {
                    justify-content: flex-end;
                }
                &__point {
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: var(--white-color);
                }
            }
        }
    }

    &__download {
        position: relative;
        &:hover {
            .header__download__container {
                opacity: 1;
                visibility: visible;
            }
        }
        &__container {
            position: absolute;
            top: 112%;
            right: 0;
            width: 250px;
            height: auto;
            min-height: 300px;
            background-color: var(--white-color);
            right: 0;
            box-shadow: var(--box-shadow);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: var(--transition-time);
            // transform-origin: 50% 0;
        }
        &__inner {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            h3 {
                text-align: center;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
        &__image {
            width: 100%;
            max-width: 100px;
            margin: 0 0 30px 0 !important;
        }
        &__button {
            margin-bottom: 10px;
            width: 100%;
            padding: 12px 0;
        }
        &__text {
            display: flex;
            align-items: center;
            padding: 0 10px;
            font-size: var(--light-color);
            p {
                margin: 0;
                text-align: center;
                font-size: 1.4rem;
            }
            i {
                font-size: 1.4rem;
            }
        }
    }
}
