.item {
    padding: 20px 10px;
    &__container {
        max-width: 692px;
        max-height: 766px;
        height: auto;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    &__header {
        display: flex;
    }

    &__avata {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: block;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        margin-left: 12px;
    }

    &__info {
        margin-right: 114px;

        &__profile {
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
        }
        &__slug {
            font-size: 1.8rem;
            color: var(--text-color);
            font-weight: 600;
            margin-right: 4px;
        }
        &__name {
            font-size: 1.4rem;
        }
        &__description {
            display: flex;
            flex-wrap: wrap;
            span,
            a,
            strong {
                font-size: 1.6rem;
            }
            a {
                font-weight: 600;
                color: var(--highlight-color);
            }
        }
        &__more {
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--primary-color);
        }
        &__music {
            h4 {
                font-size: 1.4rem;
                color: var(--text-color);
                font-weight: 400;
                i {
                    margin-right: 8px;
                }
                &:hover {
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__button {
        margin-top: 20px;
        width: 50%;
        text-align: right;
        // width: auto;

        button {
            border: 1px solid;
            padding: 1px 15px;
            font-size: 1.6rem;
            // min-width: 96px;
            min-height: 36px;
            background-color: var(--white-color);
            font-weight: 600;
            border-color: var(--primary-color);
            color: var(--primary-color);
            transition: var(--transition-time);
            &:hover {
                transform: scale(1.1);
            }
        }
        .follow {
            color: var(--text-color);
            border-color: var(--light-color);
        }
    }

    &__video {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--light-color);
        &__wraps {
            position: relative;
            display: flex;
            align-items: flex-end;
        }

        &__content {
            width: auto;
            height: auto;
            position: relative;
            margin-right: 20px;
            video {
                max-width: 404px;
                height: 642px;
                border-radius: 10px;
                overflow: hidden;
            }
            &:hover {
                .item__video__ellipsis {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &__ellipsis {
            position: absolute;
            top: 0;
            left: 374px;
            font-size: 2.4rem;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: var(--transition-time);
            z-index: 1;
            display: flex;
            flex-direction: row;
            .ellipsis__icon {
                margin-right: 50px;
                margin-top: 8px;
                i {
                    transform: rotate(90deg);
                    color: var(--white-color);
                }
            }
        }

        &__option {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: var(--white-color);
            width: fit-content;
            min-width: 200px;
            border-radius: 8px;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: var(--transition-time);
            &--visible {
                opacity: 1;
                visibility: visible;
            }
            .option__list {
                list-style: none;
                margin: 0;
                padding: 8px 0;
            }
            .option__item {
                padding: 8px 16px;
                cursor: pointer;
                transition: var(--transition-time);
                &:hover {
                    background-color: var(--light-color);
                }
                button {
                    background-color: transparent;
                    border: none;
                    font-size: 1.8rem;
                    span {
                        margin-left: 8px;
                    }
                }
            }
        }

        &__actions {
            .actions__wraps {
                display: flex;
                flex-direction: column;
                align-items: center;
                .actions__item {
                    &:hover {
                        .actions__item__button,
                        .actions__item__number {
                            border-color: var(--primary-color);
                            transform: scale(1.1);
                        }
                        i,
                        .actions__item__number {
                            color: var(--primary-color);
                        }
                        .actions__item__number {
                            font-weight: 700;
                        }
                    }
                    &__button {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        background-color: var(--light-color);
                        border: 1px solid;
                        font-size: 2.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 8px 0 6px;
                        transition: var(--transition-time);

                        i {
                            margin: auto;
                            transition: var(--transition-time);
                        }
                    }
                    &__number {
                        transition: var(--transition-time);
                        text-align: center;
                        font-size: 1.2rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
