.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: var(--default-layout-width);
    display: flex;
    margin-top: 60px;
    position: fixed;
}

.content {
    flex: 1;
    // margin-top: 60px;
    // margin-left: 240px;
}
