@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root {
    --primary-color: #fe2c55;
    --text-color: #161823;
    --sub-text-color: #161823bf;
    --header-background-color: #1618230f;
    --default-layout-header-hight: 60px;
    --default-layout-width: 1150px;
    --default-sidebar-width: 356px;
    --white-color: #fff;
    --grey-color: #f1f1f2;
    --light-color: #d7d7d9 !important;
    --dark-color: #161823;
    --black-color: #000;
    --transition-time: 0.6s;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --description-background-color: #545454eb;
    --sidebar-hover-backgrount-item: #16182308;
    --highlight-color: #2b5db9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    transition: var(--transition-time);
}
.dark-mode {
    * {
        background-color: #000;
        color: var(--white-color);
        border-color: var(--white-color);
    }
}
a {
    text-decoration: none;
    color: var(--text-color);
}

.btn {
    padding: 6px 8px;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid var(--grey-color);
    border-radius: 5px;
    &-danger {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}

a {
    &:hover {
        color: var(--text-color);
    }
}
